.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.video-section p {
    margin-top: 50px;
    font-size: 24px;
}

.video-container {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width:100%;
    /* margin-top: 50px; */
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
}